.employee-container {
   width: 626px;
   height: 106px;
   top: 236px;
   left: 325PX;
   background-color: #FFFFFF;
   margin-left: 350px;
   margin-top: 15px;
  box-shadow: 1px 3px 5px 5px #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .employee-content{
    margin-right: 250px;
    
  }
  .addButton {
    background-color: #164B60;
    color: #FFFFFF;
    padding: 10px,26px;
    margin-left: 900px;
    margin-top: 100px;
  }

 

  .employee-icons {
    display: flex;
    align-items: center;
  }
  
  .edit-icon,
  .delete-icon {
    margin-left: 20px;
    cursor: pointer;
    
  }

  .noData-paragraph{
    width: 626px;
   height: 106px;
   top: 236px;
   left: 325PX;
   background-color: #FFFFFF;
   margin-left: 350px;
   margin-top: 15px;
  box-shadow: 1px 3px 5px 5px #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.add-form{
  margin-top: 200px;
}
  .form-control{
    width: 626px;
    height: 61px;
    top: 236px;
    left: 325PX;
    background-color: #FFFFFF;
    margin-left: 350px;
    margin-top: 15px;
    box-shadow: 1px 3px 5px 5px #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    
    
  }

  .form-control input {
    border:0;
    outline:0;
    margin-left: 10px;
  }

  .add-Button {
    background-color: #164B60;
    color: #FFFFFF;
    padding: 10px,26px;
    margin-left: 600px;
    margin-top: 20px;
  }

  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #333; /* Adjust the color as needed */
  }

  .edit-Button{
    background-color: #164B60;
    color: #FFFFFF;
    padding: 10px,26px;
    margin-left: 600px;
    margin-top: 20px;

  }

  .edit-form{
    margin-top: 200px;
  }

  .profile-picture {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    overflow: hidden; 
   
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }

  .avatar-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    margin-left: 600px;
   
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .avatar-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #555;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-right: 300px;
  }

  #profilePicture{
 margin-left: 600px;
  }
  
  .profile-picture-input input[type="file"] {
    display: none;
  }

  